package layouts

import "github.com/srkn0/main/internal/templates/constants"

templ BasePageLayout() {
	<div id={ constants.PageLayoutID } class="min-h-screen bg-background text-foreground">
		{ children... }
	</div>
}
