package pages

import "context"

templ CV(ctx context.Context, htmlContent string) {
	<article>
		<div class="cv text-left text-foreground" id="cv-content">
			@templ.Raw(htmlContent)
		</div>
	</article>
}

templ CVPrint(ctx context.Context, htmlContent string) {
	<div class="cv text-left text-foreground">
		@templ.Raw(htmlContent)
	</div>
}
